<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csubigdata.futurestradingsystem.dao.RecordMapper">

  <resultMap id="RecordMap" type="com.csubigdata.futurestradingsystem.entity.Record">
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="bk_or_sk" jdbcType="TINYINT" property="bkOrSk" />
    <result column="lot" jdbcType="INTEGER" property="lot" />
    <result column="open_price" jdbcType="FLOAT" property="openPrice" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="close_price" jdbcType="FLOAT" property="closePrice" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="profit" jdbcType="FLOAT" property="profit" />
  </resultMap>

  <resultMap id="RecordVOMap" type="com.csubigdata.futurestradingsystem.vo.RecordVO">
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="open_name" jdbcType="VARCHAR" property="openName" />
    <result column="close_name" jdbcType="VARCHAR" property="closeName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="bk_or_sk" jdbcType="TINYINT" property="bkOrSk" />
    <result column="lot" jdbcType="INTEGER" property="lot" />
    <result column="open_price" jdbcType="FLOAT" property="openPrice" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="close_price" jdbcType="FLOAT" property="closePrice" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="profit" jdbcType="FLOAT" property="profit" />
    <collection property="openParams" ofType="com.csubigdata.futurestradingsystem.entity.Parameter" select="com.csubigdata.futurestradingsystem.dao.ParameterMapper.getByModelIdAndStrategyId" column="{modelId=model_id,strategyId=open_id}"/>
    <collection property="closeParams" ofType="com.csubigdata.futurestradingsystem.entity.Parameter" select="com.csubigdata.futurestradingsystem.dao.ParameterMapper.getByModelIdAndStrategyId" column="{modelId=model_id,strategyId=close_id}"/>
  </resultMap>

  <sql id="allRecordColumn">
    record_id, uid, model_id, code, bk_or_sk, lot, open_price, open_time, close_price, close_time, profit
  </sql>

  <sql id="allRecordVOColumn">
    record_id, t.uid, t.model_id, open_id, close_id, open_name, close_name, t.code, t.bk_or_sk, t.lot, open_price, open_time, close_price, close_time, profit
  </sql>


  <select id="getAllRecordByUid" resultMap="RecordVOMap">
    select <include refid="allRecordVOColumn"></include>
    from trading_history t join models m
    on t.model_id = m.model_id
    where t.uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="getAllRecordByModelId" resultMap="RecordVOMap">
    select <include refid="allRecordVOColumn"></include>
    from trading_history t join models m
    on t.model_id = m.model_id
    where t.model_id = #{modelId,jdbcType=INTEGER}
  </select>

  <select id="getAllRecordByCode" resultMap="RecordVOMap">
    select <include refid="allRecordVOColumn"></include>
    from trading_history t join models m
    on t.model_id = m.model_id
    where t.code = #{code,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.csubigdata.futurestradingsystem.entity.Record" useGeneratedKeys="true" keyProperty="recordId">
    insert into trading_history (<include refid="allRecordColumn"></include>)
    values (null,#{uid},#{modelId},#{code},#{bkOrSk},#{lot},#{openPrice},#{openTime},#{closePrice},#{closeTime},#{profit})
  </insert>

  <delete id="deleteByRecordId" parameterType="Integer">
    delete from trading_history
    where record_id = #{recordId,jdbcType=INTEGER}
  </delete>



</mapper>